.card {
  margin: 20px 05px;
}

h1 {
  text-align: center;
}

.checked {
  color: orange;
}

.view img {
  height: 200px;
}

#title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
a:hover {
  color: blue;
}

a {
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .container {
    align-items: center;
  }
}
